# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4e92207ee2d149be3e19bd0444e128a6
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

GITLAB_URL=XXX
GITLAB_PRIVATE_TOKEN=XXX
GITLAB_PROJECT_ID=XXX
PROJECT_NAME=XXX
WRIKE_URL=XXX
WRIKE_FOLDER_ID=XXX
WRIKE_PERMANENT_TOKEN=XXX